INPUT.text {background-color: #F9FFF9; border: 1px solid #10715D;}
INPUT.button {background-color: #E0F0E0; border: 1px solid #10715D;}
INPUT.txt-button {font-size:9pt; background-color: #E0F0E0; border: 1px solid #10715D;}
